h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
    font-family: $primaryFont;
}

h1 {
	font-family: $secondaryFont;
	font-size: 2rem;
    padding-left: 3%;
}

h2 {
    color: $secondaryBackground;
    text-align: center;
    font-size: 1.5rem;
    margin: 10%;
}

h3 {
	font-size: 1.1rem;
}

img {
	width: 100%;
	height: 100%;
}

button {
    font-size: 1.5rem;
}
