h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
    font-family: $primaryFont;
}

h1 {
	font-family: $secondaryFont;
	font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
	font-size: 1.1rem;
}

img {
	width: 100%;
}

button {
    font-size: 1.5rem;
}
