$offBlack: rgb(34, 32, 32);
$offWhite: #F5F5F5;
$primaryBackground: #e5e0da;
$secondaryBackground: #41392e;
// $buttonColor: #b6d16a;
$buttonColor: #e5e8b2
;

$primaryFont: 'Fira Code', monospace;
$secondaryFont: 'Montserrat Alternates', sans-serif;